body {
  margin: 0;
  font-family: "Manrope", serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #FF8C00; /* Sun orange */
  --secondary: #FFD700; /* Yellow */
  --text: #333;
  --background: #FFF9E6; /* Pale yellow */
}

body {
  background-color: var(--background);
}

.navbar, .btn, .btn2, nav {
  background-color: var(--primary);
  color: white;
}

.btn:hover{
  background-color: var(--secondary);
}

/* styles/global.css */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}