.exp-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    font-size: small;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(203, 200, 200);
    margin-left: 20px;
    margin-right: 20px;
}


.exp-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    justify-content: flex-start;
}

.exp-container ul li {
    width: 45%;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    font-size: medium;
    display: flex;
    flex-direction: column; /* Stack .lang and .exp vertically */
    align-items: flex-start;
    position: relative;
    padding-left: 1.3em; /* Space for the icon */
    gap: 0.1em; /* Small gap between .lang and .exp */
}

.exp-container ul li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #4caf50;
    font-size: 1.1em;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

.lang {
    font-weight: bolder;
}

.lang.experienced {
  color: var(--primary);
  font-weight: bold;
}

.exp {
    font-weight: 100;
    margin: 0px 0px 10px 0px;
}

.exp-containers {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.exp-list-wrapper {
    margin-left: 6rem;
    padding: 0.5rem;
}