.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem 13rem;
}

.nav-logo {
    margin-right: auto;
}

.nav-logo a {
    color: #333;
    text-decoration: none;
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #555;
}